{% extends "account/base.html" %}
<!--  -->
{% load i18n %} {% block head_title %}{% trans "Change Password" %}{% endblock %}
<!--  -->
{% block content %}
<body>
  <div class="col-md-6 col-sm-12 p-4 my-5 border border-secondary-rounded shadow mx-auto" style="background-color: white;">
    <a class="btn btn-danger" href="{% url 'mainpage' %}" role="button" style="float: right"
      >X</a
    >
    <h1>{% trans "Change Password" %}</h1>
    <p>{% trans 'Your password is now changed.' %}</p>
  </div>
</body>
{% endblock %}
